div.Navg
{
  font-family: "Agency FB";
  margin: 0 auto;
  padding: 2%;
  text-align: center;
  position: sticky;
  top: 0;
} 
  
div.Navg a 
{
  color:black;
  text-decoration: none;
  font: 23px "Agency FB";
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

/* Estilo da animação do menu */
div.Menu a:before, div.Menu a:after
{
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: red;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

/*Barra de menus */
div.Menu a:before
{
  top: 0px;
  transform: translateY(10px);
}

div.Menu a:after
{
  bottom: 0px;
  transform: translateY(-10px);
  font-family: "Agency FB";
}

div.Menu a:hover:before, div.Menu a:hover:after
{
  opacity: 1;
  transform: translateY(0px);
}

.barra {
  font-family: "Agency FB";
}

div.Informacoes
{
margin-left:79%;
position: absolute;
top:27px;
font:"Avenir Next LT Pro Light";
font-size: 17px;
color: grey;
} 

div.Logo
{
margin-left:2%;
position: absolute;
top:1px;
}

/* CSS DA PRIMEIRA TABELA VERMELHA */
.BIGtitle {
  font-size: 20px;
}

.tabela td {
  /* aplica-se a todas as etiquetas td que estiverem dentro da etiqueta table com o id 'nome' */
  color: rgb(255, 255, 255);
  border-color: #e61919; /* cor das bordas */
  font-family: "Agency FB";
}
 
.tabela {
  border-collapse: collapse;
  font-family: "Agency FB";
}

.tabela,td, th {
  border: 1px solid rgb(255, 0, 0);
  font-family: "Agency FB";
}

.cel1 {
  width:50%;
  font-family: "Agency FB";
}

/* CSS DA TABELA "SEJA BEM-VINDO" */
.tabela2 td {
  /* aplica-se a todas as etiquetas td que estiverem dentro da etiqueta table com o id 'nome' */
  color: rgb(0, 0, 0);
}
 
.tabela2 {
  border-collapse: collapse;
} 

.tabO, td, th {
  border: 1px solid rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
} 

/*---------------------
  ANIMAÇÃO DO BOTÃO
---------------------*/
@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% { 
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% { 
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.btns {
  text-align: center;
}
.efeito {
  border: none;
  color: #ffffff;
  padding: 20px;
  margin: 10px;
  font-size: 15px;
  line-height: 24px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
}
.efeito-1 {
  background: #e61919;
}
.efeito-1:hover {
  animation: bounce 1s;
}
.cel2 {
  width: 400px;
}

/* CSS DA TABELA CINZENTA */
.tabela3 {
  border-color: #f0f0f0;
  text-align: center;
}

.tabela3 td{
  border-color: #f0f0f0;
}

 /*-------------------------------
  ANIMAÇÃO DAS IMAGENS DAS MARCAS 
 -------------------------------*/
.bloco {
  width: 190px;
  height: 100px;
  margin: 10px;
  /*overflow: hidden;*/
}

.bloco img{
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
}

.bloco img:hover {
  -webkit-transform:scale(1);
  transform:scale(1);
}


/* CSS DA ÚLTIMA TABELA VERMELHA */
.table4 td {
  /* aplica-se a todas as etiquetas td que estiverem dentro da etiqueta table com o id 'nome' */
  border-color: #e61919; /* cor das bordas */
}

.whitetitle {
  color: white;
}

.info {
  color: #C1BEBE;
}

/* CSS DA ÚLTIMA TABELA */
.table5 td {
  /* aplica-se a todas as etiquetas td que estiverem dentro da etiqueta table com o id 'nome' */
  color:  #807676;
  border-color: #353232; /* cor das bordas */
}

/* CSS DO COPYRIGHT */
.table6 td {
  color:  #807676;
  border-color: #1C1C1C; /* cor das bordas */
}